* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



header{
    position: relative;
    overflow: hidden;
    }
    
    .container {
        height: 120vh;
        overflow: hidden;
        
    }
    
    .container img {
        width: 101%;
        position: absolute;
        height: 120vh;
        object-fit: cover;
        z-index: -1;
        background-color: skyblue;
    }
    
    .big-title {
        position: absolute;
        top: 40%;
        left: 50%;
        font-size: 3rem;
        transform: translate(-50%, -30%);
        color: white;
    } 
    
    
    .cloud {
        position: absolute;
        background-size:cover;
        left: 0;
        width: 100%;
        height: 50%;
        background: url(cloud6.png);
        animation: animate 60s linear infinite;
        overflow: hidden;
    }

    
    
    @keyframes animate 
    {
        0%
    {
        background-position: 0px;
    }
    100%
    {
    background-position: 128.063rem;
    }
    }

    .content {
        position: absolute;
        text-align: center;
        width: 100%;
        height: 55vh;
        background-color: rgba(160, 191, 86, 0.3);
        background-size: 200%;
        overflow: hidden;
    }


    #space-between {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        overflow: hidden;
    }

    #middle {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 30vh;
    }

    .box1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 20vh;
        width: 5vw;
        border-radius: 1rem;
        border-style: none;
        border-color:#198754;
        background-color:rgba(25, 135, 84, 0.1) ;
    }

    .box1:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 10px rgba(25, 135, 84, 0.5);
        background-color:rgba(25, 135, 84, 0.2);
    }

    .box2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 30vh;
        width: 30vw;
        border-radius: 1rem;
        border-style: none;
        border-color:#198754;
        margin-left: 2rem;
        margin-right:2rem;
        background-color:rgba(25, 135, 84, 0.1);
        box-shadow: 0 5px 10px rgba(25, 135, 84, 0.5);
    }

    .box2:hover {
        transform: scale(1.05);
        background-color:rgba(25, 135, 84, 0.2);
    }

    .box3 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 20vh;
        width: 5vw;
        border-radius: 1rem ;
        border-style: none;
        border-color:#198754;
        background-color:rgba(25, 135, 84, 0.1);
    }

    .box3:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 10px rgba(25, 135, 84, 0.5);
        background-color:rgba(25, 135, 84, 0.2);
    }

    .link {
        font-size: 2.5rem;
        text-decoration: none;
        color: #198754;
        padding: 4rem;
    }


    .link:hover {
        filter: brightness(120%);
    }

    .links {
        text-decoration: none;
        color: #198754;
        padding: 3rem;
    }

    .links:hover {
        filter: brightness(120%);
    }

    @media (max-width: 1024px) {
        
        .box1 {
            width: 7vw;
        }
    
        .link {
            font-weight: bold;
            font-size: 1.5rem;
            padding: 0;
        }
    
        .box3 {
            width: 7vw;
        }
    
    }

    @media (max-width: 912px) {
        .box1 {
            width: 8vw;
        }

        .cloud {
            display: none;
        }
    
        .link {
            font-weight: bold;
            font-size: 1.5rem;
            padding: 0;
        }
    
        .box3 {
            width: 8vw;
        }
    }


    @media (max-width: 900px) {

        .container {
            height: 50vh;
        }

        .container img {
            height: 50vh;
        }

        .cloud {
            height: 100%;
            overflow: none;
            display: inline-flex;
        }
        
        .big-title {
            font-size: 1.5rem;
        }

        .content {
            height: 50vh;
        }


        .box1 {
            width: 15vw;
        }

        .box2 {
            height: 35vh;
        }

        .box3 {
            width: 15vw;
        }

        .link {
            font-weight: bold;
            font-size: 1rem;
            padding: 0;
        }

        .links {
            font-size: 0.7rem;
            padding: 0;
        }
        
    }